<nav class="navbar navbar-expand-lg navbar-light" id="header">
  <!-- not final Logo/Name-someth.-->
    <a class="navbar-brand" id="brand" href="#">Cristi</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav ms-auto" id="navElem">
        <li class="nav-item active">
          <a class="nav-link" href="#" routerLink="/home" routerLinkActive="active">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#" routerLink="/car-list" routerLinkActive="active">Portfolio</a>
        </li>
        <!-- temporary tab... maybe will be hidden...most probably deleted-->
        <!-- <li class="nav-item">
          <a class="nav-link" href="#" routerLink="/car-form" routerLinkActive="active">Add new car</a>
        </li> -->
        <!-- temporary entity, see if i have time to do it -->
        <li class="nav-item">
          <a class="nav-link" href="#">Resume</a>
        </li>
      </ul>
    </div>
  </nav>

