.modalBtn {
    display: flex;
  justify-content: right;
  align-items: center;
  padding-top: 15px;
  padding-right: 17px;
}

#modalBtn{
  background-color: #212A3E;
  border: none;
  padding: 5px;
}

#modalBtn:hover {
  color: #f0f0f0b4;
}
.file-input {
  display: none;
}


// * {
//   // margin: 0;
//   // padding: 0;
//   box-sizing: border-box;
//   font-family: 'Poppins', sans-serif;
// }
body  {
  display: flex;
  align-items: start;
  justify-content: center;
  // min-height: 100vh;
  font-family: 'Poppins', sans-serif;
}

.wrapper {
  // display: inline-flex;
  cursor: default;
  justify-content: center;
}
.wrapper .static-txt{
  color: #fff;
  font-size: 60px;
  font-weight: 400;
}
.wrapper .dynamic-txts {
  height: 90px;
  line-height: 90px;
  overflow: hidden;
}
.dynamic-txts {
  color: #c4b4b4;
  list-style: none;
  font-size: 60px;
  font-weight: 500;
  position: relative;
  top: 0;
  animation: slide 6s steps(1);
}

@keyframes slide {
  100%{
   top: -360px;
  } 
}

.dynamic-txts span {
  position: relative;
}
.dynamic-txts span::after {
  content: "";
  position: absolute;
  left: 0;
  height: 130%;
  width: 100%;
  background: #394867;
  border-left: 2px solid #c4b4b4;
  animation: typing 1 1.5s steps(22) forwards;
}
@keyframes typing {
  100% {
    left: 100%;
  }
}



//Spinning letter

.letter-txt {
  // display: inline;
  // text-indent: 8px;
  color: #c4b4b4;
  font-size: 60px;
  font-weight: 500;
  // position: relative;
  // top: 0;

}
.letter-txt span {
  color: #c4b4b4;
	opacity: 0;
  overflow: hidden; 
	position: absolute;
  margin-left: -38px;
  animation: anti 12.5s linear forwards;
}


@keyframes anti{
	0% { opacity: 0; }
	5% { opacity: 0; transform: rotate(180deg); }
	10% { opacity: 1; transform: translateY(0px); }
	25% { opacity: 1; transform: translateY(0px); }
	30% { opacity: 1; transform: translateY(0px); }
	80% { opacity: 1; }
	100% { opacity: 1; }
}

.container {
  flex-direction: column;
  align-items: center;
}
.carousel {
  background-attachment: fixed;
}
